.card-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
}

.board-heading {
  text-align: center;
  margin: 10px;
}

.fa-plus-circle:before {
  content: "\f055";
  color: #77d332;
}
